.hero-stats
    display: flex
    padding: 3% 42%
    
    .info-block
        border: rgb(102,102,102) 1px solid
        padding: 1.5%
        width: 100%
        .attrs
            display: flex
            background: linear-gradient(0deg, rgb(185, 80, 11) -50%, rgb(41, 40, 33) 80%)
            margin-bottom: 1.5%
            justify-content: space-around
            padding: 1.5% 0
            div
                display: flex
                flex-direction: column
                align-items: center
                img
                    margin-bottom: 10%
        .stats-table
            width: 100%
            .tr
                
                width: 100%
                display: flex
                justify-content: space-between
                align-items: center
                .table-title
                    width: 60%
                    text-align: left
                .table-value
                    width: 40%
                    text-align: center
            .tr:nth-child(2n)
                background: rgb(29, 31, 32)
        .hero-name
            margin: 0
            text-align: center
            padding: 0.5% 0
            background: #b8500b
            margin-bottom: 1%
            font-weight: bold
        .hero-img
            width: 100%
                    
                    
            
            
        